design.css
	



    input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    margin-left:140px;
    }



 input[type=password] {
   width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    
}

 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    
    }


.box {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding:26px 05px;;
  margin: 9px 0;
  border-radius: 20px;
  background-color: #FEFCFC;
  border-radius: 5px;
  height:350px;
  margin-left:60%;
    
}


.font{
	font-size:20px;
	margin-top:45%;
}





.button2{
	
	width: 40%;
	height:30px;
	top:100px;
	margin-left:60%;
	left:100px;
    background-color: purple;
    color: white;
	text-align:center;
    padding: 04px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}

button2:hover{
	 background-color: #45a049;
	
}







button{
	
	width: 100%;
	height:30px;
	top:100px;
    background-color: #4CAF50;
    color: white;
	text-align:center;
    padding: 04px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}

button:hover{
	 background-color: #45a049;
	
}


.bg {
 
  background-image: url("bg-intro-desktop.png");
  opacity: 1.5;
  background-color:red;
 
  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


body, html {
  margin-top:0px;
  height: 100%;
  margin: 0;
}



img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;